body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/blurbg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
}

.container {
    margin-top:20rem;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;
}

.navbar ul li {
    position: relative;
    padding: 15px 8px;
}

.navbar ul li a {
    color: var(--textcolor);
    font-size: 1.7rem;
    text-decoration: none;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: var(--maincolor);
}

.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-width: 200px;
    flex-direction: column;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

.header p {
    color: #777;
    font-size: 14px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-info div {
    flex: 1;
    background-color: #e7f3ff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
    transition: background-color 0.3s, transform 0.3s; 
}

.contact-info div:hover {
    background-color: #d0e7ff;
    transform: translateY(-5px); 
}

.contact-info i {
    font-size: 28px;
    color: #1977cc;
}

.appointment-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s; 
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #1977cc; 
    outline: none; 
}

.form-group textarea {
    height: 80px;
}

.btn {
    padding: 12px;
    background-color: #1977cc;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s; 
}

.btn:hover {
    background-color: #155a8a;
    transform: translateY(-2px); 
}